[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
flake8 = "*"
requests = "*"
psycopg2 = "*"
drf-yasg = "*"
model-bakery = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
